body {
  padding: 0px;
  margin: 0;
  min-width: 1200px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-header {
  padding: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


.grid {
  display: flex;
  flex-direction: column;
  width: 260px;

}

.special {

}
fieldset {
  border: none;
}
legend {
  text-transform: uppercase;
  font-weight: 700;
}







.filtr-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 62px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
















.menu-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.menu-navigation {
  display: flex;
  margin: 0;
  padding: 0;

}

.menu-navigation-item {
  margin-right: 47px;
}

.menu-navigation-item:last-child {
  padding-left: 280px;
}

.menu-header-logo {
  margin-right: 200px;
}

.features-list {
  display: inline-flex;
  flex-direction: row;
}

.features-item {
  padding-right: 100px;
  margin: 80px 0px 80px 0px;
}

.index-column {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;

}

.about {
  width: 660px;
  margin-bottom: 80px;
  margin-left: 40px;
}

.plus {
  width: 360px;
  margin-bottom: 80px;

}

.filtr {
  display: flex;
}

.list-type {
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 18px;
}

.filtr-list-type {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;

}

.filtr-list-type span{
  font-weight: 500;
}


.partner {
  align-items: center;
  padding: 46px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 80px;
}

.partner-list {
  display: flex;
  justify-content: space-between;

}


.footer-discount {
  width: 560px;
}

.footer-social {
  width: 260px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
}


.menu-navigation-item a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.menu-navigation-item a:hover,
.menu-navigation-item a:focus {
  color: #fb565a;

}

.menu-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-navigation-item-active a,
.menu-navigation-item-active a:hover,
.menu-navigation-item-active a:focus,
.menu-navigation-item-active a:active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.header-background {
  background-color: #eeeeee;
}

.h1-background {
  background-color: #eeeeee;

}

.page-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  margin: 0px;
  padding-bottom: 117px;

}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.features-list {
  font-size: 16px;
  line-height: 24px;
}

.features-item {
  text-align: left;
}

.features-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.button {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 5px;
}

.button-gallery {
  width: 200px;
  border: 0;
  background-color: #fb565a;
  margin: 0 auto;
  margin-top: 28px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 5px;
}

.features-button {
  width: 160px;
}

.button-filtr {
  width: 260px;
  border: 0;
  background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 48px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}

.number-page {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.page-number a {
  display: block;
  padding: 16px 21px;
}


.button-filtr:hover, .number-page:hover {
  background-color: #dfdfdf;
}

.button-filtr:focus, .number-page:focus {
  background-color: #dfdfdf;
}

.number-page:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #d5d5d5 inset;
}

.page-active {
  background-color: #fff;
  border: 2px solid #eee;
  box-sizing: border-box;
}






.catalog-info {
  background-color: #eeeeee;
  width: 360px;
  display: none;

}


.catalog-item {
  color: #ffffff;
  text-transform: uppercase;
}

.features-button-red {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}


.features-button-red:hover,
.catalog-item:hover {
  background-color: #e74246;
}

.features-button-red:focus,
.catalog-item:focus {
  background-color: #e74246;
}

.features-button-red:active,
.catalog-item:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
}

.features-button-green {
  background-color: #00ca74;
}

.features-button-green:hover {
  background-color: #00bc6c;
}

.features-button-green:focus {
  background-color: #00bc6c;
}

.features-button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #00bc6c inset;
}

.features-button-yellow {
  background-color: #efc84a;
}

.features-button-yellow:hover {
  background-color: #eab534;
}

.features-button-yellow:focus {
  background-color: #eab534;
}

.features-button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
}

.footer ul {
  list-style: none;
}

.footer-text {
  color: #000000;
  background-color: #ffffff;
}

.footer-text-top {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.footer-text-bottom {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-discription {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
}

.social-icon {
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
  display: inline-flex;
  text-align: center;
}
.footer-item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;

}
.footer-item-icon {



  }
