body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-header {

}

.menu li {
  display: inline-block;
  flex-direction: column;
  align-items: center;

}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.menu-header-logo {
  width: 160;
  height: 65;
}

.main-navigation-wrapper {
  width: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-navigation {
  margin: 0;
  padding: 0;
}










.menu-navigation-item a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.menu-navigation-item a:hover,
.menu-navigation-item a:focus {
  color: #fb565a;

}

.menu-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-navigation-item-active a,
.menu-navigation-item-active a:hover,
.menu-navigation-item-active a:focus,
.menu-navigation-item-active a:active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.header-background {
  background-color: #eeeeee;
}

.h1-background {
  background-color: #eeeeee;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.features-list {
  font-size: 16px;
  line-height: 24px;
}

.features-item {
  text-align: left;
}

.features-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.button {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 5px;
}

.button-gallery {
  width: 200px;
  border: 0;
  background-color: #fb565a;
  margin: 0 auto;
  margin-top: 28px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 5px;
}

.features-button {
  width: 160px;
}

.catalog-info {
  background-color: #eeeeee;
  width: 360px;
}


.catalog-item {
  color: #ffffff;
  text-transform: uppercase;
}

.features-button-red {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
}


.features-button-red:hover,
.catalog-item:hover {
  background-color: #e74246;
}

.features-button-red:focus,
.catalog-item:focus {
  background-color: #e74246;
}

.features-button-red:active,
.catalog-item:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
}

.features-button-green {
  background-color: #00ca74;
}

.features-button-green:hover {
  background-color: #00bc6c;
}

.features-button-green:focus {
  background-color: #00bc6c;
}

.features-button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #00bc6c inset;
}

.features-button-yellow {
  background-color: #efc84a;
}

.features-button-yellow:hover {
  background-color: #eab534;
}

.features-button-yellow:focus {
  background-color: #eab534;
}

.features-button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
}

.footer ul {
  list-style: none;
}

.footer-text {
  color: #000000;
  background-color: #ffffff;
}

.footer-text-top {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.footer-text-bottom {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-discription {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  padding: 0;
}

